{{> head }}



    {{> navbar }}



<div class="row">

    <div class="col-8">
        <h1>Capitan America</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem libero quos minus placeat consequuntur eligendi dolor. Ab ullam omnis natus illo laborum. Enim laboriosam deleniti adipisci repellendus dolorem eaque necessitatibus?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>

</div>



{{> footer }}